<header class="header">
  <h1 class="header_title">Welcome to NASA expedition on Mars</h1>
  <h2 class="header_description">Here you can see photo which takes from different corners of Mars with over Rover</h2>
  <div class="header_button">
    <a href="#main" class="header_button-link">See it</a>
  </div>
</header>
<main class="main" id="main">
  <section class="main_section-info">


  </section>
  <app-dashboard></app-dashboard>
</main>
<footer class="footer">
  <h3 class="footer_title">Developed by V. Mikheev</h3>
</footer>
