@mixin onTablet {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin onNotebook {
  @media (min-width: 1000px) {
    @content;
  }
}

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;

    @include onTablet {
      font-size: 45px;
      margin-bottom: 15px;
    }

    @include onNotebook {
      font-size: 55px;
      margin-bottom: 20px;
    }
  }

  &_paragraph {
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }

  &_button {
    background: #B74B2DFF;
    color: #fff;
    font-family: sans-serif;
    font-size: 19px;
    min-width: 200px;
    min-height: 50px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 6px;
  }

  &_container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    @include onTablet {
      max-width: 800px;
      flex-direction: row;
    }

    @include onNotebook {
      max-width: 1500px;
      flex-direction: row;
    }
  }

  &_photo {
    object-fit: cover;
    max-width: 360px;
    max-height: 360px;
    margin-bottom: 30px;

  }
}

.cameras {
  min-width: 300px;
  min-height: 50px;
}

.load_button_container {
  width: 200px;
  margin: 0 auto;

  @include onNotebook {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.media-container{
  @include onTablet {
    min-width: 700px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
  }

  @include onNotebook {
    min-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
  }
}

.loading {
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  min-width: 300px;
  background-color: #B74B2DFF;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 12px 0 15px 0;
  cursor: pointer;
  border-radius: 26px;


  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
  }
}

.progress {
  margin-left: 15px;
}
